/* Write your code here: */

/* group selector */
h1,
h2 {
	color: blueviolet;
}

/* Parent child selectors */
/* done class is direct child of box class */
.box > .done {
	color: firebrick;
}

/* desendents selectors */
.list li {
	color: blue;
}

li.done {
	color: seagreen;
}

ul p.done {
	font-size: 0.5rem;
}
